@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: ; */
  /* line-height: ; */
  /* font-weight: ; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
