@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: #fffefb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.special-font {
  font-family: "Acme", "cursive";
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.open-sans-100 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.open-sans-200 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.open-sans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-800 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.open-sans-900 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.open-sans-100-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.open-sans-200-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.open-sans-300-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.open-sans-400-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.open-sans-600-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.open-sans-700-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.open-sans-800-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.open-sans-900-italic {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}
